.recipe-card {;
    margin: 0;
    padding: 20px;
    border-style: none;
    display: flex;
    flex-direction: column;
}

.section {
    text-align: center;
    background-color: pink;
    border: black solid 3px;
    padding: 0;
    margin-bottom: 15px;  
    flex: auto;  
}

.section.body {
    border: none;
}

.menu{
    text-align: center;
    background-color: white;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    flex: 1;
    margin: 0px;
    border: black solid 5px;
    padding:0;
}

img{ 
    width: 100%;
    height: auto;
}
